@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row" style="margin-top: 10%">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h3 class="text-center" style="margin-bottom: 5%">QUIÉNES SOMOS</h3>
        <div class="text-justify">
            <p style="font-size: medium">
                EVA es una tienda de ropa interior femenina y masculina salvadoreña, ubicada en
                Santa Ana, que nace de la propuesta de dar a la mujer y al hombre elegancia,
                variedad, sensualidad, comodidad, y seguridad en su vestir, impactando
                positivamente en la autoestima. Para nosotros, la ropa interior significa mucho
                más que una prenda de vestir, representa nuestro estado de ánimo, la percepción,
                confianza y valoración que tenemos sobre nosotros mujer y hombres
                empoderados. Entendiendo que cuando nos amamos y aceptamos como somos
                no necesitamos ser perfectos o tener un cuerpo perfecto para sentirnos bien
                consigo mismo.
                Eva, ha creado un concepto basado en la necesidad de cuidarse, verse y sentirse
                bien. Ofreciendo una amplia gama de ropa interior femenina y masculina. Nuestra
                meta es que te conozcas, provocando Magia y enseñándote a descubrir las
                bondades innatas que cada ser humano tiene, simplemente conociendo tu cuerpo
                y proporcionándoles satisfacción y felicidad en sus compras.
                Es por eso que Eva, te invita a navegar en la web y realizar tus compras online,
                para todos esos momentos especiales de los cuales necesitas estar siempre y
                sentirte bien.
            </p>
            <h4>“Porque el secreto de tu confianza es sentirte bien con tu ropa interior”</h4>
        </div>
    </div>

</div>