@using Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - EvaShop</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/plugins/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css">
    @await RenderSectionAsync("Header", required: false)
</head>
<body class="@ViewBag.BodyClass">
    <div>

        <!-- Header -->

        <header class="header" style="margin-bottom: 25px">
            <div class="header_inner d-flex flex-row align-items-center justify-content-start">
                <div class="logo"><img style="width:75px; height:50px" src="~/images/Evalogo.png" alt="logo"></div>
                <nav class="main_nav">
                    <ul>
                        <li><a asp-controller="Inventarios" asp-action="Index">Inventario</a></li>
                        <li><a asp-controller="Articulos" asp-action="Index">Articulos</a></li>
                        <li><a asp-controller="Pedidos" asp-action="Index">Pedidos</a></li>
                        <li><a asp-controller="Manager" asp-action="Logout">Logout</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div>
            <main>
                @RenderBody()
            </main>
        </div>

        <!-- Footer -->

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <div class="footer_logo"><a href="#">Eva</a></div>
                        <div class="footer_social">
                            <ul>
                                <li><a href=""><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.instagram.com/accounts/login/?next=/evaunderwear22/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.facebook.com/people/Eva-Underweare/100081220613977/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="copyright">
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="" target="_blank">Eva</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap4/popper.js"></script>
    <script src="~/lib/bootstrap4/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    @await RenderSectionAsync("Bootom",required:false)
</body>
</html>
