@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject IHttpContextAccessor HttpContextAccessor

@{
    var bag = HttpContextAccessor.HttpContext?.Session.GetString("_Bag");
    bag = bag?.Split(',').Length.ToString() ?? "0";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - EvaShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap4/bootstrap.min.css">
    <link rel="stylesheet" href="~/plugins/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/colorbox/colorbox.css">
    <link rel="stylesheet" type="text/css" href="~/css/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css">
    @await RenderSectionAsync("Header", required: false)
</head>
<body class="@ViewBag.BodyClass">
    <div class="super_container">

        <!-- Header -->

        <header class="header">
            <div class="header_inner d-flex flex-row align-items-center justify-content-start">
                <div class="logo"><a href="#">Eva</a></div>
                <nav class="main_nav">
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-controller="Categories" asp-action="Index">Categorias</a></li>
                        <li><a asp-controller="Products" asp-action="Index" asp-route-forman="false">Mujeres</a></li>
                        <li><a asp-controller="Products" asp-action="Index" asp-route-forman="true">Hombres</a></li>
                        <li><a href="#">Quiénes somos</a></li>
                        <li><a asp-controller="Contact" asp-action="Index">Contactanos</a></li>
                    </ul>
                </nav>
                <div class="header_content ml-auto">
                    <div class="shopping">
                        <!-- Cart -->
                        <a asp-controller="ShopingCart" asp-action="Index">
                            <div class="cart">
                                <img src="~/images/shopping-bag.svg" alt="">
                                <div class="cart_num_container">
                                    <div class="cart_num_inner">
                                        <div id="cart_num" class="cart_num">
                                            @bag
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <!-- Star -->
                        <a href="#">
                            <div class="star">
                                <img src="~/images/star.svg" alt="">
                                <div class="star_num_container">
                                    <div class="star_num_inner">
                                        <div class="star_num">0</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <!-- Avatar -->
                        <a href="#">
                            <div class="avatar">
                                <img src="~/images/avatar.svg" alt="">
                            </div>
                        </a>
                    </div>
                </div>

                <div class="burger_container d-flex flex-column align-items-center justify-content-around menu_mm"><div></div><div></div><div></div></div>
            </div>
        </header>

        <!-- Menu -->

        <div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
            <div class="menu_close_container"><div class="menu_close"><div></div><div></div></div></div>
            <div class="logo menu_mm"><a href="#">Eva</a></div>
            <div class="search">
                <form action="#">
                    <input type="search" class="search_input menu_mm">
                    <button type="submit" id="search_button_menu" class="search_button menu_mm"><img class="menu_mm" src="~/images/magnifying-glass.svg" alt=""></button>
                </form>
            </div>
            <nav class="menu_nav">
                <ul class="menu_mm">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Categories" asp-action="Index">Categorias</a></li>
                    <li><a asp-controller="Products" asp-action="Index" asp-route-forman="false">Mujeres</a></li>
                    <li><a asp-controller="Products" asp-action="Index" asp-route-forman="true">Hombres</a></li>
                    <li><a href="#">Quiénes somos</a></li>
                    <li><a asp-controller="Contact" asp-action="Index">Contactanos</a></li>
                </ul>
            </nav>
        </div>
        <div>
            <main>
                @RenderBody()
            </main>
        </div>

        <!-- Footer -->

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <div class="footer_logo"><a href="#">Eva</a></div>
                        <nav class="footer_nav">
                            <ul>
                                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                                <li><a asp-controller="Categories" asp-action="Index">Categorias</a></li>
                                <li><a asp-controller="Products" asp-action="Index" asp-route-forman="false">Mujeres</a></li>
                                <li><a asp-controller="Products" asp-action="Index" asp-route-forman="true">Hombres</a></li>
                                <li><a href="#">Quiénes somos</a></li>
                                <li><a asp-controller="Contact" asp-action="Index">Contactanos</a></li>
                            </ul>
                        </nav>
                        <div class="footer_social">
                            <ul>
                                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-reddit-alien" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="copyright">
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="" target="_blank">Eva</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap4/popper.js"></script>
    <script src="~/lib/bootstrap4/bootstrap.min.js"></script>
    <script src="~/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/plugins/easing/easing.js"></script>
    <script src="~/plugins/colorbox/jquery.colorbox-min.js"></script>
    <script src="~/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    @await RenderSectionAsync("Bootom",required:false)
</body>
</html>
